body {
	overflow-x: hidden;
}

.grad1 {
	background-color: #f9e4b7; 
	background-image: linear-gradient(#f9e4b7, white);
	z-index: -1;
}

* {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}


#div1  {animation-fill-mode: forwards;}

@keyframes mymove {
  from {top: -200px;}
  to {top: 0px;}
}

.boxOne img {
	margin: 1% 25% 1% 25%;
	height: 230px;
	width: 50%;
	position: relative;
	z-index: 1;
	webkit-animation: mymove 1.5s; 
	animation: mymove 1.5s;
}


.boxOne nav {
	margin: 0 auto;
	display: block;
	text-align: center;
}

.boxOne a {
	color: black;
	padding: 0px 25px 0 0;
	margin-top: 2%;
}


.boxTwo {
	height: 110px;
	width: 35%;
	margin: 0 auto;
}

.dark-mode {
  color: white;
  background-color:#929292;
}

.boxTwo h2 {
	color: black;
	text-align: center;
	margin-top: 20%;
	margin-left: -13%;
}

.boxTwo img {
	height: 80px;
	width: 16%;
	margin-left: 69%;
	margin-top: -18%;
}

.boxThree {
	height: 220px;
	width: 97%;
	margin: 2%;
}


.boxFour {
	width: 35%;
	height: 150px;
	margin: 0 auto;
}

.boxFour h2 {
	color: black;
	text-align: center;
	margin-top: 10%;
	margin-left: -19%;
}

.boxFour img {
	height: 80px;
	width: 16%;
	margin-left: 70%;
	margin-top: -15%;
}

.row {
	height: 300px;
}

.col-sm-4 h3 {
	text-align: center;
	margin-top: -10%;
}

.col-sm-4 img {
	margin: 2% 2%;
	height: 300px;
	width: 95%;
}	

.col-sm-4 a {
	margin-top: -1%;
	color: black;
}

.boxFive {
	width: 26%;
	height: 110px;
	margin: auto;
}

.boxFive h2 {
	color: black;
	text-align: center;
	margin-top: 40%;
	margin-left: -15%;
}

.boxFive img {
	height: 75px;
	width: 18%;
	margin-left: 82%;
	margin-top: -20%;
}

.boxSix { 
	height: 200px;
	width: 97%;
	margin: 2%;
}

.boxSeven {
	width: 35%;
	height: 110px;
	margin: 0 auto;
}

.boxSeven h2 {
	color: black;
	text-align: center;
	margin-top: 30%;
	margin-left: -26%;
}

.boxSeven img {
	height: 75px;
	width: 18%;
	margin-top: -20%;
	margin-left: 73%;
}

.boxEight { 
	height: 250px;
	width: 97%;
	margin: 2%;
}
	
.boxNine {
	height: 50px;
	width: 100%;
	margin: 0 auto;
}

.boxNine a {
	margin: 46%;
}


.custom-container {
	width: 100%;
}

@media screen and (max-width: 800px) and (min-width: 500px) {
	.boxTwo h2 {
		width: 50%;
	}

	.boxTwo img {
		width: 50%;
		margin-top: -60%;
	}

	.boxFour {
		margin-top: 70%;
		width: 100%;
	}

	.custom-container h3 {
		margin-top: 20%;
	}

	.boxFive {
		margin-top: 250%;
		width: 100%;
	}

	.boxSeven{
		margin-top: 85%;
		width: 100%;
	}

	.boxNine {
		margin-top: 80%;
	}

	.boxNine a {
		margin: 0%;
		text-align: center;
	}
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
	.boxTwo h2 {
		width: 50%;
	}

	.boxTwo img {
		width: 50%;
		margin-top: -40%;
	}

	.boxFour {
		margin-top: 30%;
		width: 100%;
	}

	.custom-container h3 {
		margin-top: 20%;
	}

	.boxFive {
		width: 100%;
	}

	.boxSeven{
		margin-top: 25%;
		width: 100%;
	}

	.boxNine {
		margin-top: 20%;
	}

	.boxNine a {
		margin: 0%;
		text-align: center;
	}

}